/* sutomemo */
.sutomemo-wrapper .pi-header, .sutomemo-wrapper .pi-title {
    padding: 7px;
    font-size:16px;
}

.pi-theme-sutomemo1 {
    float:left;
    clear:left;
    margin:auto;
}

.pi-theme-sutomemo2 {
    width: auto;
    float: none;
    clear: right;
    height: 416px;
    margin-bottom:0;
}

.sutomemo-shops {
    background-color: rgb(225 225 225 / 30%);
    padding: 10px;
    width: 500px;
    font-size:larger;
    columns: 2;
}

.pi-theme-sm-chapterList {
    float:left;
    clear:left;
    margin:auto;
    width:100%
}

.sm-chapters {
    padding: 10px;
    width: 800px;
    font-size: larger;
    columns: 2;
}
/* fanbooks */
.pi-theme-fanbook {
    float:left;
    clear:left;
    margin:auto;
    border:none;
}

.pi-theme-fanbook2 {
    width: auto;
    float: none;
    clear: right;
    height: 413px;
    border:none;
}

.fanbook-wrapper .pi-title, .fanbook-wrapper .pi-header {
    border:none;
    border-radius:0;
}

.pi-theme-fanbook2 .pi-header:first-child {
    font-size: 18px;
}

.pi-theme-fanbook2 .pi-header {
    text-align: left!important;
    padding-left: 10px!important;
}

.fanbook-illust {
    padding-left:10px;
}
/* derivative (creds: vocaloid wiki) */
.derivative {
    box-sizing: border-box;
    float: left;
    padding: 0 2px;
    width: 50%;
}

.derivative-title {
    border-radius: 5px 5px 0 0;
    border-top-style: solid;
    border-top-width: 5px;
    font-size: 110%;
    line-height: 130%;
    padding: 0 .5em;
}

.derivative-imgs {
    float: left;
    width: 120px;
}

.derivative table {
    font-size: 85%;
    line-height: 1.6em;
    padding: 1px;
    min-width: calc(100% - 120px);
}

.derivative th {
    width: 1px;
    text-align: right;
}

.derivative td, .derivative th {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 3px;
    vertical-align: top;
}

/* infobox */
.portable-infobox {
    position:relative;
    margin-right:8px;
    border: 2px solid #f1708b;
    padding-left:10px;
    border-radius: 15px 5px 5px 5px;
}

.portable-infobox .pi-title {
    border-radius:0;
}

/* imitates box shadow using menu_bg from the website */
.portable-infobox::after {
    content: "";
    opacity: 0.2;
    background: url(http://strawberryprince.com/common/img/menu_bg.png);
    position: absolute;
    width: 100%;
    left: 268px;
    top: 5px;
    height: 99.8%;
    width: 3%;
    border-radius: 0 3px 3px 0;
}
/* tabs */
.article-tabs {
    border-bottom: var(--theme-border-color);
    display: flex;
    justify-content: center;
    width: 100%;
}

.article-tabs__selected {
    border-color: var(--theme-border-color);
    border-radius: 6px 6px 0 0;
    border-style: solid;
    border-width: 1px 1px 0 1px;
}

.article-tabs__tab {
    flex-grow: 0.2;
    padding: 5px;
    text-align: center;
}
