.pi-theme-rinku img { filter: drop-shadow(0 0 4px #fe6f01); }
.pi-theme-maho img { filter: drop-shadow(0 0 4px #ffde15); }
.pi-theme-muni img { filter: drop-shadow(0 0 4px #f673d1); }
.pi-theme-rei img { filter: drop-shadow(0 0 4px #3c65ff); }

.pi-theme-kyoko img { filter: drop-shadow(0 0 4px #c80100); }
.pi-theme-shinobu img { filter: drop-shadow(0 0 4px #c765b4); }
.pi-theme-yuka img { filter: drop-shadow(0 0 4px #dcaa0b); }
.pi-theme-esora img { filter: drop-shadow(0 0 4px #28825c); }

.pi-theme-saki img { filter: drop-shadow(0 0 4px #e6ffec); }
.pi-theme-ibuki img { filter: drop-shadow(0 0 4px #bec4c2);}
.pi-theme-towa img { filter: drop-shadow(0 0 4px #95deff); }
.pi-theme-noa img { filter: drop-shadow(0 0 4px #eaf4d2); }

.pi-theme-rika img { filter: drop-shadow(0 0 4px #ff475b); }
.pi-theme-marika img { filter: drop-shadow(0 0 4px #44fe07); }
.pi-theme-saori img { filter: drop-shadow(0 0 4px #ff01aa); }
.pi-theme-dalia img { filter: drop-shadow(0 0 4px #e5ff18); }

.pi-theme-tsubaki img { filter: drop-shadow(0 0 4px #0f0a70); }
.pi-theme-nagisa img { filter: drop-shadow(0 0 4px #f3f298); }
.pi-theme-hiiro img { filter: drop-shadow(0 0 4px #e7bad9); }
.pi-theme-aoi img { filter: drop-shadow(0 0 4px #445ca8); }

.pi-theme-miyu img { filter: drop-shadow(0 0 4px #d87c95); }
.pi-theme-haruna img { filter: drop-shadow(0 0 4px #833761); }
.pi-theme-kurumi img { filter: drop-shadow(0 0 4px #caaf9a); }
.pi-theme-miiko img { filter: drop-shadow(0 0 4px #f9d797); }
