/* infobox redesign */

.portable-infobox {
    border: 1px solid #5EBDDA;
    box-shadow: 0 0 0 3px #3e1283;
    border-radius: 10px 5px;
    margin-right: 3px;
    margin-left: 10px;
    background: rgba(89,45,180,0.1);
    position: relative;
}

.portable-infobox, .portable-infobox .pi-title, .portable-infobox .pi-caption {
    border-radius: 10px 5px;
}

/* .quote {
    position: relative;
    width: auto;
    border-radius: 10px 6px;
    background: linear-gradient(360deg, lightgray 35%, white 50%);
    border: 3px solid #AC6FDE;
    color: black;
    max-width: 300px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
} */

.portable-infobox {
  --pi-secondary-background:#3E1283;
}

.pi-header, .pi-title {
    color: #e7d4ff;
}

.pi-secondary-background {
    background:#3E1283;
}

.page__main .wds-tabs__tab.wds-is-current .wds-tabs__tab-label {
    color: #e7d4ff;
}

.page__main .wds-tabs__tab.wds-is-current, 
.page__main .wds-tabs__tab:not(.wds-is-current):hover, 
.page__main .wds-tabs__tab.wds-is-current a, 
.page__main .wds-tabs__tab:not(.wds-is-current) a:hover {
    color: #e7d4ff;
}

.pi-data-label.pi-secondary-font {
    color: #e7d4ff !important;
}

/* minor changes to themes */
.portable-infobox.pi-theme-rinku .pi-item .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-rinku .pi-image-collection .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-boxrinku .pi-item .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-boxrinku .pi-image-collection .wds-tabs__tab.wds-is-current .wds-tabs__tab-label,
.portable-infobox.pi-theme-maho .pi-item .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-maho .pi-image-collection .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-boxmaho .pi-item .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-boxmaho .pi-image-collection .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-muni .pi-item .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-muni .pi-image-collection .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-boxmuni .pi-item .wds-tabs__tab.wds-is-current .wds-tabs__tab-label, 
.portable-infobox.pi-theme-boxmuni .pi-image-collection .wds-tabs__tab.wds-is-current .wds-tabs__tab-label{
	color:#e7d4ff;
}

/*** boxes ***/
.portable-infobox.pi-theme-boxd4dj2, 
/* card attributes */ 
.portable-infobox.pi-theme-boxcool, .portable-infobox.pi-theme-boxstreet, .portable-infobox.pi-theme-boxparty, .portable-infobox.pi-theme-boxelegant 
/* rondo */ 
.portable-infobox.pi-theme-boxrd, .portable-infobox.pi-theme-boxtsubaki, .portable-infobox.pi-theme-boxnagisa, .portable-infobox.pi-theme-boxhiiro, 
.portable-infobox.pi-theme-boxaoi, 
/* ha */  
.portable-infobox.pi-theme-boxha, .portable-infobox.pi-theme-boxrinku, .portable-infobox.pi-theme-boxmaho, .portable-infobox.pi-theme-boxmuni, 
.portable-infobox.pi-theme-boxrei, 
/* m4 */ .portable-infobox.pi-theme-boxm4, .portable-infobox.pi-theme-boxrika, 
.portable-infobox.pi-theme-boxmarika, .portable-infobox.pi-theme-boxsaori, 
.portable-infobox.pi-theme-boxdalia,
/* pmaiden */ .portable-infobox.pi-theme-boxpm, 
.portable-infobox.pi-theme-boxsaki, .portable-infobox.pi-theme-boxibuki, .portable-infobox.pi-theme-boxtowa, .portable-infobox.pi-theme-boxnoa, 
/* ll */ 
.portable-infobox.pi-theme-boxll, .portable-infobox.pi-theme-boxmiyu, .portable-infobox.pi-theme-boxharuna, .portable-infobox.pi-theme-boxkurumi, 
.portable-infobox.pi-theme-boxmiiko 
/* pk */ 
.portable-infobox.pi-theme-boxpp, 
.portable-infobox.pi-theme-boxkyoko, .portable-infobox.pi-theme-boxshinobu, .portable-infobox.pi-theme-boxyuka, .portable-infobox.pi-theme-boxesora {
	margin:3px;
}

.portable-infobox.pi-theme-boxd4dj2 h2, 
/* card attributes */ 
.portable-infobox.pi-theme-boxcool h2, .portable-infobox.pi-theme-boxstreet h2, .portable-infobox.pi-theme-boxparty h2, .portable-infobox.pi-theme-boxelegant h2, 
/* rondo */ 
.portable-infobox.pi-theme-boxrd h2, .portable-infobox.pi-theme-boxtsubaki h2, .portable-infobox.pi-theme-boxnagisa h2, .portable-infobox.pi-theme-boxhiiro h2, 
.portable-infobox.pi-theme-boxaoi h2, 
/* ha */  
.portable-infobox.pi-theme-boxha h2,  .portable-infobox.pi-theme-boxrinku h2, 
.portable-infobox.pi-theme-boxmaho h2, .portable-infobox.pi-theme-boxmuni h2, .portable-infobox.pi-theme-boxrei h2, 
/* m4 */ 
.portable-infobox.pi-theme-boxm4 h2, .portable-infobox.pi-theme-boxrika h2, .portable-infobox.pi-theme-boxmarika h2, .portable-infobox.pi-theme-boxsaori h2, 
.portable-infobox.pi-theme-boxdalia h2, 
/* pmaiden */ 
.portable-infobox.pi-theme-boxpm h2,.portable-infobox.pi-theme-boxsaki h2, .portable-infobox.pi-theme-boxibuki h2, .portable-infobox.pi-theme-boxtowa h2, 
.portable-infobox.pi-theme-boxnoa h2,
/* ll */ 
.portable-infobox.pi-theme-boxll h2, .portable-infobox.pi-theme-boxmiyu h2, .portable-infobox.pi-theme-boxharuna h2, .portable-infobox.pi-theme-boxkurumi h2,
.portable-infobox.pi-theme-boxmiiko h2, 
/* pk */ 
.portable-infobox.pi-theme-boxpp h2, 
.portable-infobox.pi-theme-boxkyoko h2, .portable-infobox.pi-theme-boxshinobu h2, .portable-infobox.pi-theme-boxyuka h2, .portable-infobox.pi-theme-boxesora h2 {
    border-radius: 10px 5px;
}
