.quote {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.cat-Cards .quote {
    font-size: 20px;
    text-align: center;
}

.page-content blockquote {
    margin:0;
}
/* tsubaki card quote */
.cat-Cards div[style="background:white;"].poem {
    background: transparent!important;
}

.poem .quote span[style="color:#100a70"] {
    color: #1910bc !important;
}
