/******************************************************************
utility - mediaQuery
******************************************************************/
.u-sp-media { display: none; }

@media screen and (max-width: 736px) { .u-pc-media { display: none; }
  .u-sp-media { display: block; }
  img.u-sp-media { display: inline-block; } }

/******************************************************************
utility - clearfix
******************************************************************/
.u-clearfix::after { content: ""; display: block; clear: both; }

@media screen and (max-width: 736px) { .u-sp-clearfix::after { content: ""; display: block; clear: both; } }

/******************************************************************
utility - display
******************************************************************/
.u-block { display: block; }

.u-none { display: none; }

.u-inline { display: inline; }

.u-inline-block { display: inline-block; }

.u-table { display: table; }

.u-table-row { display: table-row; }

.u-table-cell { display: table-cell; }

.u-flex { display: flex; }

.u-inline-flex { display: inline-flex; }

@media screen and (max-width: 736px) { .u-sp-block { display: block; }
  .u-sp-none { display: none; }
  .u-sp-inline { display: inline; }
  .u-sp-inline-block { display: inline-block; }
  .u-sp-table { display: table; }
  .u-sp-table-row { display: table-row; }
  .u-sp-table-cell { display: table-cell; }
  .u-sp-flex { display: flex; }
  .u-sp-inline-flex { display: inline-flex; } }

/******************************************************************
utility - display-off
******************************************************************/
.u-display-off { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; overflow: hidden; padding: 0; clip: rect(0, 0, 0, 0); }

@media screen and (max-width: 736px) { .u-sp-display-off { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; overflow: hidden; padding: 0; clip: rect(0, 0, 0, 0); } }

/******************************************************************
utility - padding-side
******************************************************************/
.u-padding-side { padding-right: 1rem; padding-left: 1rem; }

@media screen and (max-width: 736px) { .u-padding-side { padding-right: 0.75rem; padding-left: 0.75rem; }
  .u-sp-padding-side { padding-right: 0.75rem; padding-left: 0.75rem; } }

/******************************************************************
utility - text-align
******************************************************************/
.u-center { text-align: center; }

.u-right { text-align: right; }

.u-left { text-align: left; }

@media screen and (max-width: 736px) { .u-sp-center { text-align: center; }
  .u-sp-right { text-align: right; }
  .u-sp-left { text-align: left; } }

/******************************************************************
utility - font-size-percent
******************************************************************/
.u-font-size50per { font-size: 50%; }

.u-font-size55per { font-size: 55%; }

.u-font-size60per { font-size: 60%; }

.u-font-size65per { font-size: 65%; }

.u-font-size70per { font-size: 70%; }

.u-font-size75per { font-size: 75%; }

.u-font-size80per { font-size: 80%; }

.u-font-size85per { font-size: 85%; }

.u-font-size90per { font-size: 90%; }

.u-font-size95per { font-size: 95%; }

.u-font-size100per { font-size: 100%; }

.u-font-size110per { font-size: 110%; }

.u-font-size120per { font-size: 120%; }

.u-font-size130per { font-size: 130%; }

.u-font-size140per { font-size: 140%; }

.u-font-size150per { font-size: 150%; }

.u-font-size160per { font-size: 160%; }

.u-font-size170per { font-size: 170%; }

.u-font-size180per { font-size: 180%; }

.u-font-size190per { font-size: 190%; }

.u-font-size200per { font-size: 200%; }

.u-font-size210per { font-size: 210%; }

.u-font-size220per { font-size: 220%; }

.u-font-size230per { font-size: 230%; }

.u-font-size240per { font-size: 240%; }

.u-font-size250per { font-size: 250%; }

.u-font-size260per { font-size: 260%; }

.u-font-size270per { font-size: 270%; }

.u-font-size280per { font-size: 280%; }

.u-font-size290per { font-size: 290%; }

.u-font-size300per { font-size: 300%; }

@media screen and (max-width: 736px) { .u-sp-font-size50per { font-size: 50%; }
  .u-sp-font-size55per { font-size: 55%; }
  .u-sp-font-size60per { font-size: 60%; }
  .u-sp-font-size65per { font-size: 65%; }
  .u-sp-font-size70per { font-size: 70%; }
  .u-sp-font-size75per { font-size: 75%; }
  .u-sp-font-size80per { font-size: 80%; }
  .u-sp-font-size85per { font-size: 85%; }
  .u-sp-font-size90per { font-size: 90%; }
  .u-sp-font-size95per { font-size: 95%; }
  .u-sp-font-size100per { font-size: 100%; }
  .u-sp-font-size110per { font-size: 110%; }
  .u-sp-font-size120per { font-size: 120%; }
  .u-sp-font-size130per { font-size: 130%; }
  .u-sp-font-size140per { font-size: 140%; }
  .u-sp-font-size150per { font-size: 150%; }
  .u-sp-font-size160per { font-size: 160%; }
  .u-sp-font-size170per { font-size: 170%; }
  .u-sp-font-size180per { font-size: 180%; }
  .u-sp-font-size190per { font-size: 190%; }
  .u-sp-font-size200per { font-size: 200%; }
  .u-sp-font-size210per { font-size: 210%; }
  .u-sp-font-size220per { font-size: 220%; }
  .u-sp-font-size230per { font-size: 230%; }
  .u-sp-font-size240per { font-size: 240%; }
  .u-sp-font-size250per { font-size: 250%; }
  .u-sp-font-size260per { font-size: 260%; }
  .u-sp-font-size270per { font-size: 270%; }
  .u-sp-font-size280per { font-size: 280%; }
  .u-sp-font-size290per { font-size: 290%; }
  .u-sp-font-size300per { font-size: 300%; } }

/******************************************************************
utility - width-percent
******************************************************************/
.u-width0 { width: 0; }

.u-width1per { width: 1%; }

.u-width2per { width: 2%; }

.u-width3per { width: 3%; }

.u-width4per { width: 4%; }

.u-width5per { width: 5%; }

.u-width6per { width: 6%; }

.u-width7per { width: 7%; }

.u-width8per { width: 8%; }

.u-width9per { width: 9%; }

.u-width10per { width: 10%; }

.u-width11per { width: 11%; }

.u-width12per { width: 12%; }

.u-width13per { width: 13%; }

.u-width14per { width: 14%; }

.u-width15per { width: 15%; }

.u-width16per { width: 16%; }

.u-width17per { width: 17%; }

.u-width18per { width: 18%; }

.u-width19per { width: 19%; }

.u-width20per { width: 20%; }

.u-width21per { width: 21%; }

.u-width22per { width: 22%; }

.u-width23per { width: 23%; }

.u-width24per { width: 24%; }

.u-width25per { width: 25%; }

.u-width26per { width: 26%; }

.u-width27per { width: 27%; }

.u-width28per { width: 28%; }

.u-width29per { width: 29%; }

.u-width30per { width: 30%; }

.u-width31per { width: 31%; }

.u-width32per { width: 32%; }

.u-width33per { width: 33%; }

.u-width34per { width: 34%; }

.u-width35per { width: 35%; }

.u-width36per { width: 36%; }

.u-width37per { width: 37%; }

.u-width38per { width: 38%; }

.u-width39per { width: 39%; }

.u-width40per { width: 40%; }

.u-width41per { width: 41%; }

.u-width42per { width: 42%; }

.u-width43per { width: 43%; }

.u-width44per { width: 44%; }

.u-width45per { width: 45%; }

.u-width46per { width: 46%; }

.u-width47per { width: 47%; }

.u-width48per { width: 48%; }

.u-width49per { width: 49%; }

.u-width50per { width: 50%; }

.u-width51per { width: 51%; }

.u-width52per { width: 52%; }

.u-width53per { width: 53%; }

.u-width54per { width: 54%; }

.u-width55per { width: 55%; }

.u-width56per { width: 56%; }

.u-width57per { width: 57%; }

.u-width58per { width: 58%; }

.u-width59per { width: 59%; }

.u-width60per { width: 60%; }

.u-width61per { width: 61%; }

.u-width62per { width: 62%; }

.u-width63per { width: 63%; }

.u-width64per { width: 64%; }

.u-width65per { width: 65%; }

.u-width66per { width: 66%; }

.u-width67per { width: 67%; }

.u-width68per { width: 68%; }

.u-width69per { width: 69%; }

.u-width70per { width: 70%; }

.u-width71per { width: 71%; }

.u-width72per { width: 72%; }

.u-width73per { width: 73%; }

.u-width74per { width: 74%; }

.u-width75per { width: 75%; }

.u-width76per { width: 76%; }

.u-width77per { width: 77%; }

.u-width78per { width: 78%; }

.u-width79per { width: 79%; }

.u-width80per { width: 80%; }

.u-width81per { width: 81%; }

.u-width82per { width: 82%; }

.u-width83per { width: 83%; }

.u-width84per { width: 84%; }

.u-width85per { width: 85%; }

.u-width86per { width: 86%; }

.u-width87per { width: 87%; }

.u-width88per { width: 88%; }

.u-width89per { width: 89%; }

.u-width90per { width: 90%; }

.u-width91per { width: 91%; }

.u-width92per { width: 92%; }

.u-width93per { width: 93%; }

.u-width94per { width: 94%; }

.u-width95per { width: 95%; }

.u-width96per { width: 96%; }

.u-width97per { width: 97%; }

.u-width98per { width: 98%; }

.u-width99per { width: 99%; }

.u-width100per { width: 100%; }

@media screen and (max-width: 736px) { .u-sp-width0per { width: 0; }
  .u-sp-width1per { width: 1%; }
  .u-sp-width2per { width: 2%; }
  .u-sp-width3per { width: 3%; }
  .u-sp-width4per { width: 4%; }
  .u-sp-width5per { width: 5%; }
  .u-sp-width6per { width: 6%; }
  .u-sp-width7per { width: 7%; }
  .u-sp-width8per { width: 8%; }
  .u-sp-width9per { width: 9%; }
  .u-sp-width10per { width: 10%; }
  .u-sp-width11per { width: 11%; }
  .u-sp-width12per { width: 12%; }
  .u-sp-width13per { width: 13%; }
  .u-sp-width14per { width: 14%; }
  .u-sp-width15per { width: 15%; }
  .u-sp-width16per { width: 16%; }
  .u-sp-width17per { width: 17%; }
  .u-sp-width18per { width: 18%; }
  .u-sp-width19per { width: 19%; }
  .u-sp-width20per { width: 20%; }
  .u-sp-width21per { width: 21%; }
  .u-sp-width22per { width: 22%; }
  .u-sp-width23per { width: 23%; }
  .u-sp-width24per { width: 24%; }
  .u-sp-width25per { width: 25%; }
  .u-sp-width26per { width: 26%; }
  .u-sp-width27per { width: 27%; }
  .u-sp-width28per { width: 28%; }
  .u-sp-width29per { width: 29%; }
  .u-sp-width30per { width: 30%; }
  .u-sp-width31per { width: 31%; }
  .u-sp-width32per { width: 32%; }
  .u-sp-width33per { width: 33%; }
  .u-sp-width34per { width: 34%; }
  .u-sp-width35per { width: 35%; }
  .u-sp-width36per { width: 36%; }
  .u-sp-width37per { width: 37%; }
  .u-sp-width38per { width: 38%; }
  .u-sp-width39per { width: 39%; }
  .u-sp-width40per { width: 40%; }
  .u-sp-width41per { width: 41%; }
  .u-sp-width42per { width: 42%; }
  .u-sp-width43per { width: 43%; }
  .u-sp-width44per { width: 44%; }
  .u-sp-width45per { width: 45%; }
  .u-sp-width46per { width: 46%; }
  .u-sp-width47per { width: 47%; }
  .u-sp-width48per { width: 48%; }
  .u-sp-width49per { width: 49%; }
  .u-sp-width50per { width: 50%; }
  .u-sp-width51per { width: 51%; }
  .u-sp-width52per { width: 52%; }
  .u-sp-width53per { width: 53%; }
  .u-sp-width54per { width: 54%; }
  .u-sp-width55per { width: 55%; }
  .u-sp-width56per { width: 56%; }
  .u-sp-width57per { width: 57%; }
  .u-sp-width58per { width: 58%; }
  .u-sp-width59per { width: 59%; }
  .u-sp-width60per { width: 60%; }
  .u-sp-width61per { width: 61%; }
  .u-sp-width62per { width: 62%; }
  .u-sp-width63per { width: 63%; }
  .u-sp-width64per { width: 64%; }
  .u-sp-width65per { width: 65%; }
  .u-sp-width66per { width: 66%; }
  .u-sp-width67per { width: 67%; }
  .u-sp-width68per { width: 68%; }
  .u-sp-width69per { width: 69%; }
  .u-sp-width70per { width: 70%; }
  .u-sp-width71per { width: 71%; }
  .u-sp-width72per { width: 72%; }
  .u-sp-width73per { width: 73%; }
  .u-sp-width74per { width: 74%; }
  .u-sp-width75per { width: 75%; }
  .u-sp-width76per { width: 76%; }
  .u-sp-width77per { width: 77%; }
  .u-sp-width78per { width: 78%; }
  .u-sp-width79per { width: 79%; }
  .u-sp-width80per { width: 80%; }
  .u-sp-width81per { width: 81%; }
  .u-sp-width82per { width: 82%; }
  .u-sp-width83per { width: 83%; }
  .u-sp-width84per { width: 84%; }
  .u-sp-width85per { width: 85%; }
  .u-sp-width86per { width: 86%; }
  .u-sp-width87per { width: 87%; }
  .u-sp-width88per { width: 88%; }
  .u-sp-width89per { width: 89%; }
  .u-sp-width90per { width: 90%; }
  .u-sp-width91per { width: 91%; }
  .u-sp-width92per { width: 92%; }
  .u-sp-width93per { width: 93%; }
  .u-sp-width94per { width: 94%; }
  .u-sp-width95per { width: 95%; }
  .u-sp-width96per { width: 96%; }
  .u-sp-width97per { width: 97%; }
  .u-sp-width98per { width: 98%; }
  .u-sp-width99per { width: 99%; }
  .u-sp-width100per { width: 100%; } }

/******************************************************************
utility - color
******************************************************************/
.u-color-pink, .u-color-pink:hover, .u-color-pink a:hover { color: #f0308b !important; }

/******************************************************************
utility - over-opacity
******************************************************************/
.u-over-opacity { transition-property: opacity; transition-duration: 0.3s; }

.u-over-opacity:hover:not(:disabled):not(.disabled) { opacity: 0.7; }

/******************************************************************
utility - over-scale-img
******************************************************************/
.u-over-scale-img { display: block; overflow: hidden; }

.u-over-scale-img img { width: 100%; transition-property: transform; transition-duration: 0.3s; }

a:hover:not(:disabled):not(.disabled) .u-over-scale-img img { transform: scale(1.1); }

.u-over-scale-img--light img, .u-over-scale-img--dark img { transition-property: all; }

a:hover:not(:disabled):not(.disabled) .u-over-scale-img--light img, a:hover:not(:disabled):not(.disabled) .u-over-scale-img--dark img { opacity: 0.7; }

.u-over-scale-img--light { background-color: #ffffff; }

.u-over-scale-img--dark { background-color: #000000; }

/******************************************************************
utility - over-shift
******************************************************************/
.u-over-shift { position: relative; display: inline-block; }

.u-over-shift::after { position: absolute; content: ""; margin: auto; box-sizing: border-box; vertical-align: middle; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(247, 109, 122, 0.5); }

.u-over-shift > * { position: relative; z-index: +1; transition-property: transform; transition-duration: 0.3s; }

.u-over-shift:hover:not(:disabled):not(.disabled) > * { transform: translate(-10px, -10px); }

.u-over-shift img { width: 100%; }

/******************************************************************
utility - trans-delay
******************************************************************/
.u-trans-delay0 { transition-delay: 0; }

.u-trans-delay01s { transition-delay: 0.1s; }

.u-trans-delay02s { transition-delay: 0.2s; }

.u-trans-delay03s { transition-delay: 0.3s; }

.u-trans-delay04s { transition-delay: 0.4s; }

.u-trans-delay05s { transition-delay: 0.5s; }

.u-trans-delay06s { transition-delay: 0.6s; }

.u-trans-delay07s { transition-delay: 0.7s; }

.u-trans-delay08s { transition-delay: 0.8s; }

.u-trans-delay09s { transition-delay: 0.9s; }

.u-trans-delay10s { transition-delay: 1s; }

.u-trans-delay11s { transition-delay: 1.1s; }

.u-trans-delay12s { transition-delay: 1.2s; }

.u-trans-delay13s { transition-delay: 1.3s; }

.u-trans-delay14s { transition-delay: 1.4s; }

.u-trans-delay15s { transition-delay: 1.5s; }

.u-trans-delay16s { transition-delay: 1.6s; }

.u-trans-delay17s { transition-delay: 1.7s; }

.u-trans-delay18s { transition-delay: 1.8s; }

.u-trans-delay19s { transition-delay: 1.9s; }

.u-trans-delay20s { transition-delay: 2s; }

.u-trans-delay21s { transition-delay: 2.1s; }

.u-trans-delay22s { transition-delay: 2.2s; }

.u-trans-delay23s { transition-delay: 2.3s; }

.u-trans-delay24s { transition-delay: 2.4s; }

.u-trans-delay25s { transition-delay: 2.5s; }

.u-trans-delay26s { transition-delay: 2.6s; }

.u-trans-delay27s { transition-delay: 2.7s; }

.u-trans-delay28s { transition-delay: 2.8s; }

.u-trans-delay29s { transition-delay: 2.9s; }

.u-trans-delay30s { transition-delay: 3s; }

@media screen and (max-width: 736px) { .u-sp-trans-delay0 { transition-delay: 0; }
  .u-sp-trans-delay01s { transition-delay: 0.1s; }
  .u-sp-trans-delay02s { transition-delay: 0.2s; }
  .u-sp-trans-delay03s { transition-delay: 0.3s; }
  .u-sp-trans-delay04s { transition-delay: 0.4s; }
  .u-sp-trans-delay05s { transition-delay: 0.5s; }
  .u-sp-trans-delay06s { transition-delay: 0.6s; }
  .u-sp-trans-delay07s { transition-delay: 0.7s; }
  .u-sp-trans-delay08s { transition-delay: 0.8s; }
  .u-sp-trans-delay09s { transition-delay: 0.9s; }
  .u-sp-trans-delay10s { transition-delay: 1s; }
  .u-sp-trans-delay11s { transition-delay: 1.1s; }
  .u-sp-trans-delay12s { transition-delay: 1.2s; }
  .u-sp-trans-delay13s { transition-delay: 1.3s; }
  .u-sp-trans-delay14s { transition-delay: 1.4s; }
  .u-sp-trans-delay15s { transition-delay: 1.5s; }
  .u-sp-trans-delay16s { transition-delay: 1.6s; }
  .u-sp-trans-delay17s { transition-delay: 1.7s; }
  .u-sp-trans-delay18s { transition-delay: 1.8s; }
  .u-sp-trans-delay19s { transition-delay: 1.9s; }
  .u-sp-trans-delay20s { transition-delay: 2s; }
  .u-sp-trans-delay21s { transition-delay: 2.1s; }
  .u-sp-trans-delay22s { transition-delay: 2.2s; }
  .u-sp-trans-delay23s { transition-delay: 2.3s; }
  .u-sp-trans-delay24s { transition-delay: 2.4s; }
  .u-sp-trans-delay25s { transition-delay: 2.5s; }
  .u-sp-trans-delay26s { transition-delay: 2.6s; }
  .u-sp-trans-delay27s { transition-delay: 2.7s; }
  .u-sp-trans-delay28s { transition-delay: 2.8s; }
  .u-sp-trans-delay29s { transition-delay: 2.9s; }
  .u-sp-trans-delay30s { transition-delay: 3s; } }

/******************************************************************
utility - ani-duration
******************************************************************/
.u-ani-duration0 { animation-duration: 0 !important; }

.u-ani-duration01s { animation-duration: 0.1s !important; }

.u-ani-duration02s { animation-duration: 0.2s !important; }

.u-ani-duration03s { animation-duration: 0.3s !important; }

.u-ani-duration04s { animation-duration: 0.4s !important; }

.u-ani-duration05s { animation-duration: 0.5s !important; }

.u-ani-duration06s { animation-duration: 0.6s !important; }

.u-ani-duration07s { animation-duration: 0.7s !important; }

.u-ani-duration08s { animation-duration: 0.8s !important; }

.u-ani-duration09s { animation-duration: 0.9s !important; }

.u-ani-duration10s { animation-duration: 1s !important; }

.u-ani-duration11s { animation-duration: 1.1s !important; }

.u-ani-duration12s { animation-duration: 1.2s !important; }

.u-ani-duration13s { animation-duration: 1.3s !important; }

.u-ani-duration14s { animation-duration: 1.4s !important; }

.u-ani-duration15s { animation-duration: 1.5s !important; }

.u-ani-duration16s { animation-duration: 1.6s !important; }

.u-ani-duration17s { animation-duration: 1.7s !important; }

.u-ani-duration18s { animation-duration: 1.8s !important; }

.u-ani-duration19s { animation-duration: 1.9s !important; }

.u-ani-duration20s { animation-duration: 2s !important; }

.u-ani-duration21s { animation-duration: 2.1s !important; }

.u-ani-duration22s { animation-duration: 2.2s !important; }

.u-ani-duration23s { animation-duration: 2.3s !important; }

.u-ani-duration24s { animation-duration: 2.4s !important; }

.u-ani-duration25s { animation-duration: 2.5s !important; }

.u-ani-duration26s { animation-duration: 2.6s !important; }

.u-ani-duration27s { animation-duration: 2.7s !important; }

.u-ani-duration28s { animation-duration: 2.8s !important; }

.u-ani-duration29s { animation-duration: 2.9s !important; }

.u-ani-duration30s { animation-duration: 3s !important; }

@media screen and (max-width: 736px) { .u-sp-ani-duration0 { animation-duration: 0 !important; }
  .u-sp-ani-duration01s { animation-duration: 0.1s !important; }
  .u-sp-ani-duration02s { animation-duration: 0.2s !important; }
  .u-sp-ani-duration03s { animation-duration: 0.3s !important; }
  .u-sp-ani-duration04s { animation-duration: 0.4s !important; }
  .u-sp-ani-duration05s { animation-duration: 0.5s !important; }
  .u-sp-ani-duration06s { animation-duration: 0.6s !important; }
  .u-sp-ani-duration07s { animation-duration: 0.7s !important; }
  .u-sp-ani-duration08s { animation-duration: 0.8s !important; }
  .u-sp-ani-duration09s { animation-duration: 0.9s !important; }
  .u-sp-ani-duration10s { animation-duration: 1s !important; }
  .u-sp-ani-duration11s { animation-duration: 1.1s !important; }
  .u-sp-ani-duration12s { animation-duration: 1.2s !important; }
  .u-sp-ani-duration13s { animation-duration: 1.3s !important; }
  .u-sp-ani-duration14s { animation-duration: 1.4s !important; }
  .u-sp-ani-duration15s { animation-duration: 1.5s !important; }
  .u-sp-ani-duration16s { animation-duration: 1.6s !important; }
  .u-sp-ani-duration17s { animation-duration: 1.7s !important; }
  .u-sp-ani-duration18s { animation-duration: 1.8s !important; }
  .u-sp-ani-duration19s { animation-duration: 1.9s !important; }
  .u-sp-ani-duration20s { animation-duration: 2s !important; }
  .u-sp-ani-duration21s { animation-duration: 2.1s !important; }
  .u-sp-ani-duration22s { animation-duration: 2.2s !important; }
  .u-sp-ani-duration23s { animation-duration: 2.3s !important; }
  .u-sp-ani-duration24s { animation-duration: 2.4s !important; }
  .u-sp-ani-duration25s { animation-duration: 2.5s !important; }
  .u-sp-ani-duration26s { animation-duration: 2.6s !important; }
  .u-sp-ani-duration27s { animation-duration: 2.7s !important; }
  .u-sp-ani-duration28s { animation-duration: 2.8s !important; }
  .u-sp-ani-duration29s { animation-duration: 2.9s !important; }
  .u-sp-ani-duration30s { animation-duration: 3s !important; } }

/******************************************************************
utility - ani-delay
******************************************************************/
.u-ani-delay0 { animation-delay: 0 !important; }

.u-ani-delay01s { animation-delay: 0.1s !important; }

.u-ani-delay02s { animation-delay: 0.2s !important; }

.u-ani-delay03s { animation-delay: 0.3s !important; }

.u-ani-delay04s { animation-delay: 0.4s !important; }

.u-ani-delay05s { animation-delay: 0.5s !important; }

.u-ani-delay06s { animation-delay: 0.6s !important; }

.u-ani-delay07s { animation-delay: 0.7s !important; }

.u-ani-delay08s { animation-delay: 0.8s !important; }

.u-ani-delay09s { animation-delay: 0.9s !important; }

.u-ani-delay10s { animation-delay: 1s !important; }

.u-ani-delay11s { animation-delay: 1.1s !important; }

.u-ani-delay12s { animation-delay: 1.2s !important; }

.u-ani-delay13s { animation-delay: 1.3s !important; }

.u-ani-delay14s { animation-delay: 1.4s !important; }

.u-ani-delay15s { animation-delay: 1.5s !important; }

.u-ani-delay16s { animation-delay: 1.6s !important; }

.u-ani-delay17s { animation-delay: 1.7s !important; }

.u-ani-delay18s { animation-delay: 1.8s !important; }

.u-ani-delay19s { animation-delay: 1.9s !important; }

.u-ani-delay20s { animation-delay: 2s !important; }

.u-ani-delay21s { animation-delay: 2.1s !important; }

.u-ani-delay22s { animation-delay: 2.2s !important; }

.u-ani-delay23s { animation-delay: 2.3s !important; }

.u-ani-delay24s { animation-delay: 2.4s !important; }

.u-ani-delay25s { animation-delay: 2.5s !important; }

.u-ani-delay26s { animation-delay: 2.6s !important; }

.u-ani-delay27s { animation-delay: 2.7s !important; }

.u-ani-delay28s { animation-delay: 2.8s !important; }

.u-ani-delay29s { animation-delay: 2.9s !important; }

.u-ani-delay30s { animation-delay: 3s !important; }

@media screen and (max-width: 736px) { .u-sp-ani-delay0 { animation-delay: 0 !important; }
  .u-sp-ani-delay01s { animation-delay: 0.1s !important; }
  .u-sp-ani-delay02s { animation-delay: 0.2s !important; }
  .u-sp-ani-delay03s { animation-delay: 0.3s !important; }
  .u-sp-ani-delay04s { animation-delay: 0.4s !important; }
  .u-sp-ani-delay05s { animation-delay: 0.5s !important; }
  .u-sp-ani-delay06s { animation-delay: 0.6s !important; }
  .u-sp-ani-delay07s { animation-delay: 0.7s !important; }
  .u-sp-ani-delay08s { animation-delay: 0.8s !important; }
  .u-sp-ani-delay09s { animation-delay: 0.9s !important; }
  .u-sp-ani-delay10s { animation-delay: 1s !important; }
  .u-sp-ani-delay11s { animation-delay: 1.1s !important; }
  .u-sp-ani-delay12s { animation-delay: 1.2s !important; }
  .u-sp-ani-delay13s { animation-delay: 1.3s !important; }
  .u-sp-ani-delay14s { animation-delay: 1.4s !important; }
  .u-sp-ani-delay15s { animation-delay: 1.5s !important; }
  .u-sp-ani-delay16s { animation-delay: 1.6s !important; }
  .u-sp-ani-delay17s { animation-delay: 1.7s !important; }
  .u-sp-ani-delay18s { animation-delay: 1.8s !important; }
  .u-sp-ani-delay19s { animation-delay: 1.9s !important; }
  .u-sp-ani-delay20s { animation-delay: 2s !important; }
  .u-sp-ani-delay21s { animation-delay: 2.1s !important; }
  .u-sp-ani-delay22s { animation-delay: 2.2s !important; }
  .u-sp-ani-delay23s { animation-delay: 2.3s !important; }
  .u-sp-ani-delay24s { animation-delay: 2.4s !important; }
  .u-sp-ani-delay25s { animation-delay: 2.5s !important; }
  .u-sp-ani-delay26s { animation-delay: 2.6s !important; }
  .u-sp-ani-delay27s { animation-delay: 2.7s !important; }
  .u-sp-ani-delay28s { animation-delay: 2.8s !important; }
  .u-sp-ani-delay29s { animation-delay: 2.9s !important; }
  .u-sp-ani-delay30s { animation-delay: 3s !important; } }

.u-stripe { background: linear-gradient(-45deg, #fff0fb 25%, #ffe9fa 25%, #ffe9fa 50%, #fff0fb 50%, #fff0fb 75%, #ffe9fa 75%, #ffe9fa); background-size: 40px 40px; 
